section.section.learning 
    .wrapper 
        .row 
            .col-xs-12.col-lg-6.offset-1.learning-details
                .section-header
                    h3.section__subtitle Learning Recomendations
                    h2.section__title Today’s Course Highlight
                    p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
                hr.section__hr
                .card.card--plain
                    .card-subheader
                        img.card-subheader__img(src="images/user-dp-amanda.png", alt="")
                        .card-author
                            span.card-author__name Amanda Nickson
                            span.card-author__caption Client
                        .card-rating.badge.badge--rating
                            svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                            span.badge__text 5.0
                    .card-body 
                        p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional - Alen is the besst choice! Thanks a lot! I’m really happy!
                .section-footer 
                    .control-btn
                        button.btn.btn--just-icon.btn--control
                            svg(width='56' height='57' viewbox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M25.7628 27.2271C24.6289 27.2271 24.0611 25.8562 24.8629 25.0544L28.6173 21.3C29.1142 20.8031 29.1142 19.9974 28.6173 19.5004V19.5004C28.1203 19.0034 27.3146 19.0034 26.8176 19.5004L18.7181 27.5999C18.2211 28.0969 18.2211 28.9028 18.7181 29.3998L26.8176 37.4993C27.3146 37.9963 28.1203 37.9963 28.6173 37.4993V37.4993C29.1142 37.0024 29.1142 36.1966 28.6173 35.6997L24.8629 31.9453C24.0611 31.1435 24.6289 29.7726 25.7628 29.7726H36.9091C37.612 29.7726 38.1818 29.2028 38.1818 28.4999V28.4999C38.1818 27.797 37.612 27.2271 36.9091 27.2271H25.7628Z' fill='#07080A')
                                rect(x='-0.636364' y='0.636364' width='54.7273' height='54.7273' rx='27.3636' transform='matrix(-1 0 0 1 54.7273 0.5)' stroke='#13245F' stroke-width='1.27273')

                        button.btn.btn--just-icon.btn--control
                            svg(width='56' height='57' viewbox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M30.2372 27.2271C31.3711 27.2271 31.9389 25.8562 31.1371 25.0544L27.3827 21.3C26.8858 20.8031 26.8858 19.9974 27.3827 19.5004V19.5004C27.8797 19.0034 28.6854 19.0034 29.1824 19.5004L37.2819 27.5999C37.7789 28.0969 37.7789 28.9028 37.2819 29.3998L29.1824 37.4993C28.6854 37.9963 27.8797 37.9963 27.3827 37.4993V37.4993C26.8858 37.0024 26.8858 36.1966 27.3827 35.6997L31.1371 31.9453C31.9389 31.1435 31.3711 29.7726 30.2372 29.7726H19.0909C18.388 29.7726 17.8182 29.2028 17.8182 28.4999V28.4999C17.8182 27.797 18.388 27.2271 19.0909 27.2271H30.2372Z' fill='#07080A')
                                rect(x='0.636364' y='1.13636' width='54.7273' height='54.7273' rx='27.3636' stroke='#13245F' stroke-width='1.27273')
                    a.link(href="")
                        span View All 
                        svg.icon-arrow-right.icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')
 
            .col.xs-12.col-lg-4.learning-card
                .card.card--v1
                    .card-header
                        img.card-header__img(src="images/course-01.jpg", alt="")
                        button.card-header__btn 
                            svg.icon-heart.card-header__btn-icon(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.527344 4.86975C0.527133 3.65702 1.02066 2.49514 1.89688 1.64551C2.7731 0.795888 3.95843 0.32988 5.18617 0.352338C6.64084 0.344709 8.02888 0.95397 8.99793 2.02545C9.96698 0.95397 11.355 0.344709 12.8097 0.352338C14.0374 0.32988 15.2228 0.795888 16.099 1.64551C16.9752 2.49514 17.4687 3.65702 17.4685 4.86975C17.4685 9.35036 12.0651 12.7334 8.99793 15.4104C5.93751 12.7108 0.527344 9.35371 0.527344 4.86975Z' fill='#FF0000' fill-opacity='0.7')

                        .card-subheader
                            .card-author
                                img.card-author__img(src="images/user-dp-neil.png", alt="")
                                span.card-author__name Neil Armstrong
                                span.card-author__caption Entrepreneur, Business Coach
                            .card-price 
                                h6.card-price__main $1,455
                                span.card-price__line $1,455
                    hr.card__hr
                    .card-body 
                        h5.card-body__title Start The New Year With A Crystal Clear Vision for Your Business an...
                        p.card-body__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
                    .card-footer
                        button.btn.card-footer__btn Enroll Now
                        a.card-footer__cta(href="") Learn more  
                svg(width='106' height='10' viewbox='0 0 106 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                    circle(cx='77' cy='5' r='5' fill='#C4C4C4')
                    circle(cx='101' cy='5' r='5' fill='#C4C4C4')
                    circle(cx='53' cy='5' r='5' fill='#13245F')
                    circle(cx='29' cy='5' r='5' fill='#C4C4C4')
                    circle(cx='5' cy='5' r='5' fill='#C4C4C4')
