section.section.article-spotlight 
    .wrapper
        .section-header
            h3.section__subtitle NHB+ Articles
            h2.section__title Articles Spotlight

        .row.no-gutters 
            .col-xs-12.col-lg-7.article-spotlight-article 
                .card.card--v1
                    .card-header
                        img.card-header__img(src="images/article-spotlight.jpg", alt="")
                        button.card-header__btn 
                            svg.icon-menu-add(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.7273 14.8638L17.7263 17.7274H20.5909V19.6365H17.7263L17.7273 22.5001H15.8182L15.8172 19.6365H12.9545V17.7274H15.8172L15.8182 14.8638H17.7273ZM11.0455 17.7274V19.6365H3.40909V17.7274H11.0455ZM20.5909 11.0456V12.9547H3.40909V11.0456H20.5909ZM20.5909 4.36377V6.27286H3.40909V4.36377H20.5909Z' fill='#586795')
                        .card-subheader
                            img.card-author__img(src="images/user-dp-neil.png", alt="")
                            .card-author
                                span.card-author__name Neil Armstrong
                                span.card-author__caption Entrepreneur, Business Coach
                            
                    .card-body 
                        h5.card-body__title Lassale Extension University Sales Letter
                        p.card-body__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 

                        p.card-body__text Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam 
                    .card-footer
                        a.link(href="")
                            span Read The Article 
                            svg.icon-arrow-right.icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF') 
            .col-sm-12.col-lg-5.article-spotlight-cards 
                .cards 
                    .card.card--v2
                        .card-header
                            .card-subheader
                                .card-author-img
                                        img.card-author__img(src="images/user-dp-neil.png", alt="")
                                .card-author
                                    .card-author-name
                                        span.card-author__name Neil Armstrong
                                        span.card-author__caption Entrepreneur, Business Coach
                        .card-body 
                            h5.card-body__title Lassale Extension University Sales Letter
                            p.card-body__text From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and ...
                    hr
                    .card.card--v2
                        .card-header
                            .card-subheader
                                .card-author-img
                                        img.card-author__img(src="images/user-dp-neil.png", alt="")
                                        button.btn.btn--just-icon.card-author__icon
                                            svg.icon-podcast(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M4.16667 5.83317H5.83333V14.1665H4.16667V5.83317ZM0.833334 8.33317H2.5V11.6665H0.833334V8.33317ZM7.5 1.6665H9.16667V16.6665H7.5V1.6665ZM10.8333 3.33317H12.5V18.3332H10.8333V3.33317ZM14.1667 5.83317H15.8333V14.1665H14.1667V5.83317ZM17.5 8.33317H19.1667V11.6665H17.5V8.33317Z' fill='#13245F')

                                                                                        
                                .card-author
                                    .card-author-name
                                        span.card-author__name Neil Armstrong
                                        span.card-author__caption Entrepreneur, Business Coach
                        .card-body 
                            h5.card-body__title Lassale Extension University Sales Letter
                            p.card-body__text From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and ...
                    hr
                    .card.card--v2
                        .card-header
                            .card-subheader
                                .card-author-img
                                        img.card-author__img(src="images/user-dp-neil.png", alt="")
                                .card-author
                                    .card-author-name
                                        span.card-author__name Neil Armstrong
                                        span.card-author__caption Entrepreneur, Business Coach
                        .card-body 
                            h5.card-body__title Lassale Extension University Sales Letter
                            p.card-body__text From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and ...
                    hr
                    .card.card--v2
                        .card-header
                            .card-subheader
                                .card-author-img
                                        img.card-author__img(src="images/user-dp-neil.png", alt="")
                                .card-author
                                    .card-author-name
                                        span.card-author__name Neil Armstrong
                                        span.card-author__caption Entrepreneur, Business Coach
                        .card-body 
                            h5.card-body__title Lassale Extension University Sales Letter
                            p.card-body__text From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and ...
                .article-spotlight-cards-footer
                        a.link(href="")
                            span Read The Article 
                            svg.icon-arrow-right.icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                 path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF') 
                .card.card--outline 
                    .card-body 
                        h5.card-body__title Do you want us to cover some topics you’re interested?
                        p.card-body__text Submit your resource by clicking the button below. So your member will find it easily
                    .card-footer 
                        button.btn.btn--outline.card-btn 
                            svg.btn__icon--left.card-btn__icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M7 13.6668C3.318 13.6668 0.333336 10.6822 0.333336 7.00016C0.333336 3.31816 3.318 0.333496 7 0.333496C10.682 0.333496 13.6667 3.31816 13.6667 7.00016C13.6667 10.6822 10.682 13.6668 7 13.6668ZM6.33334 6.3335H3.66667V7.66683H6.33334V10.3335H7.66667V7.66683H10.3333V6.3335H7.66667V3.66683H6.33334V6.3335Z' fill='#1254FF')
                            span Request an Article