section.section.training-video 
	.wrapper 
		.training-video-header.row 
			.col-xs-12.col-lg-6
				.section-header
					h3.section__subtitle latest Training Video
					h2.section__title How To Select The Perfect Market
					p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
			.col-xs-12.col-lg-6.control-btn
				button.btn.btn--just-icon.btn--prev
					svg(width='56' height='57' viewbox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M25.7628 27.2271C24.6289 27.2271 24.0611 25.8562 24.8629 25.0544L28.6173 21.3C29.1142 20.8031 29.1142 19.9974 28.6173 19.5004V19.5004C28.1203 19.0034 27.3146 19.0034 26.8176 19.5004L18.7181 27.5999C18.2211 28.0969 18.2211 28.9028 18.7181 29.3998L26.8176 37.4993C27.3146 37.9963 28.1203 37.9963 28.6173 37.4993V37.4993C29.1142 37.0024 29.1142 36.1966 28.6173 35.6997L24.8629 31.9453C24.0611 31.1435 24.6289 29.7726 25.7628 29.7726H36.9091C37.612 29.7726 38.1818 29.2028 38.1818 28.4999V28.4999C38.1818 27.797 37.612 27.2271 36.9091 27.2271H25.7628Z' fill='#07080A')
						rect(x='-0.636364' y='0.636364' width='54.7273' height='54.7273' rx='27.3636' transform='matrix(-1 0 0 1 54.7273 0.5)' stroke='#13245F' stroke-width='1.27273')
				button.btn.btn--just-icon.btn--next
					svg(width='56' height='57' viewbox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M30.2372 27.2271C31.3711 27.2271 31.9389 25.8562 31.1371 25.0544L27.3827 21.3C26.8858 20.8031 26.8858 19.9974 27.3827 19.5004V19.5004C27.8797 19.0034 28.6854 19.0034 29.1824 19.5004L37.2819 27.5999C37.7789 28.0969 37.7789 28.9028 37.2819 29.3998L29.1824 37.4993C28.6854 37.9963 27.8797 37.9963 27.3827 37.4993V37.4993C26.8858 37.0024 26.8858 36.1966 27.3827 35.6997L31.1371 31.9453C31.9389 31.1435 31.3711 29.7726 30.2372 29.7726H19.0909C18.388 29.7726 17.8182 29.2028 17.8182 28.4999V28.4999C17.8182 27.797 18.388 27.2271 19.0909 27.2271H30.2372Z' fill='#07080A')
						rect(x='0.636364' y='1.13636' width='54.7273' height='54.7273' rx='27.3636' stroke='#13245F' stroke-width='1.27273')
		.training-video-body 
			iframe.training-video__video(src='https://www.youtube.com/embed/7lvXbfNBIQg' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			.row.training-video-cards 
				.col-xs-12.col-lg-4 
					.card.card--outline 
						.card-body 
							h5.card-body__title Do you want us to cover some topics you’re interested?
							p.card-body__text Submit your resource by clicking the button below. So your member will find it easily
						.card-footer 
							button.btn.btn--outline.card-btn 
								svg.btn__icon--left.card-btn__icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M7 13.6668C3.318 13.6668 0.333336 10.6822 0.333336 7.00016C0.333336 3.31816 3.318 0.333496 7 0.333496C10.682 0.333496 13.6667 3.31816 13.6667 7.00016C13.6667 10.6822 10.682 13.6668 7 13.6668ZM6.33334 6.3335H3.66667V7.66683H6.33334V10.3335H7.66667V7.66683H10.3333V6.3335H7.66667V3.66683H6.33334V6.3335Z' fill='#1254FF')
								span Request Training Calls
				.col-xs-12.col-lg-8.training-video-slide 
					.card.card--h1
						.card-header
							img.card-header__img(src="images/training-video.jpg", alt="")
							span.card-header__overlay 1:45:17
						.card-body 
							h5.card-body__title Start The New Year With A Crystal Clear Vision for Your Business an...
							p.card-body__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
							a.link(href="")
								span Next Training Video 
								svg.icon-arrow-right.icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')
					svg.icon-scroll-dots(width='106' height='10' viewbox='0 0 106 10' fill='none' xmlns='http://www.w3.org/2000/svg')
						circle(cx='77' cy='5' r='5' fill='#C4C4C4')
						circle(cx='101' cy='5' r='5' fill='#C4C4C4')
						circle(cx='53' cy='5' r='5' fill='#13245F')
						circle(cx='29' cy='5' r='5' fill='#C4C4C4')
						circle(cx='5' cy='5' r='5' fill='#C4C4C4')
