section.section.new-members 
    .wrapper 
        .row.new-members-row 
            .col-xs-12.col-lg-4 
                .card.card-member.new-members__featured 
                    .card-header 
                        .card-header__img 
                            img(src="images/member-01.jpg", alt="")
                            span.card-header__job Copywriter
                    .card-subheader
                        .card-body-location 
                            svg.card-subheader__icon.icon-location-pin(width='9' height='12' viewbox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M4.49998 12C3.68801 11.2819 2.93539 10.4947 2.24999 9.64649C1.22142 8.37275 5.68066e-07 6.47581 5.68066e-07 4.66818C-0.000911103 2.78027 1.09558 1.07785 2.77782 0.355333C4.46005 -0.36718 6.39644 0.0326284 7.68339 1.36819C8.52968 2.24175 9.00376 3.43003 8.99998 4.66818C8.99998 6.47581 7.77853 8.37275 6.74997 9.64649C6.06457 10.4947 5.31195 11.2819 4.49998 12ZM4.49998 2.66859C3.81097 2.66859 3.1743 3.04971 2.82979 3.66839C2.48529 4.28706 2.48529 5.0493 2.82979 5.66797C3.1743 6.28665 3.81097 6.66777 4.49998 6.66777C5.56509 6.66777 6.42854 5.77252 6.42854 4.66818C6.42854 3.56384 5.56509 2.66859 4.49998 2.66859Z' fill='#586795')

                            span.card-body__location Colorado, USA 
                        .card-body-hire 
                            svg.card-subheader__icon(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg') 
                                path(d='M5.99998 8.66663V10.6666H9.99998V8.66663H14.6666V13.3333C14.6666 13.5101 14.5964 13.6797 14.4714 13.8047C14.3464 13.9297 14.1768 14 14 14H1.99998C1.82317 14 1.6536 13.9297 1.52858 13.8047C1.40355 13.6797 1.33331 13.5101 1.33331 13.3333V8.66663H5.99998ZM7.33331 7.33329H8.66665V9.33329H7.33331V7.33329ZM4.66665 3.33329V1.33329C4.66665 1.15648 4.73688 0.986912 4.86191 0.861888C4.98693 0.736864 5.1565 0.666626 5.33331 0.666626H10.6666C10.8435 0.666626 11.013 0.736864 11.1381 0.861888C11.2631 0.986912 11.3333 1.15648 11.3333 1.33329V3.33329H14C14.1768 3.33329 14.3464 3.40353 14.4714 3.52855C14.5964 3.65358 14.6666 3.82315 14.6666 3.99996V7.33329H9.99998V5.99996H5.99998V7.33329H1.33331V3.99996C1.33331 3.82315 1.40355 3.65358 1.52858 3.52855C1.6536 3.40353 1.82317 3.33329 1.99998 3.33329H4.66665ZM5.99998 1.99996V3.33329H9.99998V1.99996H5.99998Z' fill='#586795')

                            span.card-body__hire Available For Hire
                        
                    .card-body 
                        
                        .card-body-name
                            h3.card-body__name Devon Lane
                            span NEW
                        p.card-body__text I’m specialized in Sales Copy and Content Writer
                    .card-footer 
                        button.btn.btn--outline.card-footer__btn 
                            span View Profile 
                            svg.icon-arrow-right.btn__icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')
                        button.btn--just-icon 
                            svg(width='44' height='44' viewbox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(width='44' height='44' rx='22' fill='#E0E5F5')
                                path(d='M19.7143 20.7143C20.2666 20.7143 20.7143 20.2666 20.7143 19.7143V14.2857C20.7143 13.5756 21.2899 13 22 13C22.7101 13 23.2857 13.5756 23.2857 14.2857V19.7143C23.2857 20.2666 23.7334 20.7143 24.2857 20.7143H29.7143C30.4244 20.7143 31 21.2899 31 22C31 22.7101 30.4244 23.2857 29.7143 23.2857H24.2857C23.7334 23.2857 23.2857 23.7334 23.2857 24.2857V29.7143C23.2857 30.4244 22.7101 31 22 31C21.2899 31 20.7143 30.4244 20.7143 29.7143V24.2857C20.7143 23.7334 20.2666 23.2857 19.7143 23.2857H14.2857C13.5756 23.2857 13 22.7101 13 22C13 21.2899 13.5756 20.7143 14.2857 20.7143H19.7143Z' fill='#586795')
            .col-xs-12.col-lg-8
                .section-header
                    h3.section__subtitle Welcome Our
                    h2.section__title New Members this Week
                    p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
                .members
                    .card.card-member.card-member--plain 
                        .card-header 
                            .card-header__img 
                                img(src="images/member-02.jpg", alt="")
                                span.card-header__job Software Development Manager
                        .card-body 
                            .card-body-name
                                h5.card-body__name Arlene McCoy
                                span NEW
                            p.card-body__text I’m specialized in Sales Copy and Content Writer

                    .card.card-member.card-member--plain 
                        .card-header 
                            .card-header__img 
                                img(src="images/member-03.jpg", alt="")
                                span.card-header__job Software Development Manager
                        .card-body 
                            .card-body-name
                                h5.card-body__name Ralph Edwards
                                span NEW
                            p.card-body__text I’m specialized in Sales Copy and Content Writer
                    
                    .card.card-member.card-member--plain 
                        .card-header 
                            .card-header__img 
                                img(src="images/member-04.jpg", alt="")
                                span.card-header__job Software Development Manager
                        .card-body 
                            .card-body-name
                                h5.card-body__name Robert Fox
                                span NEW
                            p.card-body__text I’m specialized in Sales Copy and Content Writer
                    .card.card-member.card-member--plain 
                        .card-header 
                            .card-header__img 
                                img(src="images/member-05.jpg", alt="")
                                span.card-header__job Software Development Manager
                        .card-body 
                            .card-body-name
                                h5.card-body__name Brooklyn Simmons
                                span NEW
                            p.card-body__text I’m specialized in Sales Copy and Content Writer
                .icon-scroll
                    svg(width='106' height='10' viewbox='0 0 106 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='77' cy='5' r='5' fill='#C4C4C4')
                        circle(cx='101' cy='5' r='5' fill='#C4C4C4')
                        circle(cx='53' cy='5' r='5' fill='#13245F')
                        circle(cx='29' cy='5' r='5' fill='#C4C4C4')
                        circle(cx='5' cy='5' r='5' fill='#C4C4C4')
        
section.section.roldex
    .wrapper
        .row.no-gutters.roldex-row
            .col-xs-12.col-lg-5.offset-1 
                .section-header
                    h3.section__subtitle What is Rolodex?
                    h2.section__title Add Yourself To The Rolodex
                    p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
                svg(width='106' height='10' viewbox='0 0 106 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                    circle(cx='77' cy='5' r='5' fill='#C4C4C4')
                    circle(cx='101' cy='5' r='5' fill='#C4C4C4')
                    circle(cx='53' cy='5' r='5' fill='#C4C4C4')
                    circle(cx='5' cy='5' r='5' fill='#13245F')
                    circle(cx='29' cy='5' r='5' fill='#13245F')
                    rect(x='5' y='10' width='10' height='25' transform='rotate(-90 5 10)' fill='#13245F')
            .col-xs-12.col-lg-3.offset-2.card-container 
                .card.card-member 
                    .card-header 
                        .card-header__img 
                            img(src="images/member-06.jpg", alt="")
                            span.card-header__job Software Development Manager
                    .card-subheader
                        .card-body-location 
                            svg.card-subheader__icon.icon-location-pin(width='9' height='12' viewbox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M4.49998 12C3.68801 11.2819 2.93539 10.4947 2.24999 9.64649C1.22142 8.37275 5.68066e-07 6.47581 5.68066e-07 4.66818C-0.000911103 2.78027 1.09558 1.07785 2.77782 0.355333C4.46005 -0.36718 6.39644 0.0326284 7.68339 1.36819C8.52968 2.24175 9.00376 3.43003 8.99998 4.66818C8.99998 6.47581 7.77853 8.37275 6.74997 9.64649C6.06457 10.4947 5.31195 11.2819 4.49998 12ZM4.49998 2.66859C3.81097 2.66859 3.1743 3.04971 2.82979 3.66839C2.48529 4.28706 2.48529 5.0493 2.82979 5.66797C3.1743 6.28665 3.81097 6.66777 4.49998 6.66777C5.56509 6.66777 6.42854 5.77252 6.42854 4.66818C6.42854 3.56384 5.56509 2.66859 4.49998 2.66859Z' fill='#586795')

                            span.card-body__location Colorado, USA 
                        .card-body-hire 
                            svg.card-subheader__icon(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg') 
                                path(d='M5.99998 8.66663V10.6666H9.99998V8.66663H14.6666V13.3333C14.6666 13.5101 14.5964 13.6797 14.4714 13.8047C14.3464 13.9297 14.1768 14 14 14H1.99998C1.82317 14 1.6536 13.9297 1.52858 13.8047C1.40355 13.6797 1.33331 13.5101 1.33331 13.3333V8.66663H5.99998ZM7.33331 7.33329H8.66665V9.33329H7.33331V7.33329ZM4.66665 3.33329V1.33329C4.66665 1.15648 4.73688 0.986912 4.86191 0.861888C4.98693 0.736864 5.1565 0.666626 5.33331 0.666626H10.6666C10.8435 0.666626 11.013 0.736864 11.1381 0.861888C11.2631 0.986912 11.3333 1.15648 11.3333 1.33329V3.33329H14C14.1768 3.33329 14.3464 3.40353 14.4714 3.52855C14.5964 3.65358 14.6666 3.82315 14.6666 3.99996V7.33329H9.99998V5.99996H5.99998V7.33329H1.33331V3.99996C1.33331 3.82315 1.40355 3.65358 1.52858 3.52855C1.6536 3.40353 1.82317 3.33329 1.99998 3.33329H4.66665ZM5.99998 1.99996V3.33329H9.99998V1.99996H5.99998Z' fill='#586795')

                            span.card-body__hire Available For Hire        
                    .card-body 
                        
                        .card-body-name
                            h3.card-body__name Cody Fisher
                            span NEW
                        p.card-body__text I’m specialized in Sales Copy and Content Writer
                    .card-footer 
                        button.btn.btn--outline.card-footer__btn 
                            span View Profile 
                            svg.icon-arrow-right.btn__icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')
                        button.btn--just-icon 
                            svg(width='44' height='44' viewbox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(width='44' height='44' rx='22' fill='#E0E5F5')
                                path(d='M19.7143 20.7143C20.2666 20.7143 20.7143 20.2666 20.7143 19.7143V14.2857C20.7143 13.5756 21.2899 13 22 13C22.7101 13 23.2857 13.5756 23.2857 14.2857V19.7143C23.2857 20.2666 23.7334 20.7143 24.2857 20.7143H29.7143C30.4244 20.7143 31 21.2899 31 22C31 22.7101 30.4244 23.2857 29.7143 23.2857H24.2857C23.7334 23.2857 23.2857 23.7334 23.2857 24.2857V29.7143C23.2857 30.4244 22.7101 31 22 31C21.2899 31 20.7143 30.4244 20.7143 29.7143V24.2857C20.7143 23.7334 20.2666 23.2857 19.7143 23.2857H14.2857C13.5756 23.2857 13 22.7101 13 22C13 21.2899 13.5756 20.7143 14.2857 20.7143H19.7143Z' fill='#586795')
