section.section.my-advisor 
    .wrapper 
        .my-advisor-header
            .section-header
                h3.section__subtitle My advisor
                h2.section__title Avis, meet your perosnal NHB+ coach
            a.link(href="") Learn More 
        .row.no-gutters
            .col-xs-12.col-lg-7
                .coach
                    .coach-header
                        .coach-img
                            img.coach__img(src="images/coach-dp.jpg", alt="")
                            span.badge.badge--rating 
                                svg.icon-star-white.icon--left(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                                span 5.0
                        .coach-details 
                            span.coach-details__title Your  COACH
                            span.coach-details__name Alen Sultanic 
                            span.coach-details__caption Digital Marketing Strategist
                            .coach-details-social 
                                button.btn.btn--just-icon.coach-details-social__btn 
                                    svg.icon-social-mail(width='13' height='12' viewbox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.11721 0.75H11.6172C11.7719 0.75 11.9203 0.811458 12.0297 0.920854C12.1391 1.03025 12.2005 1.17862 12.2005 1.33333V10.6667C12.2005 10.8214 12.1391 10.9697 12.0297 11.0791C11.9203 11.1885 11.7719 11.25 11.6172 11.25H1.11721C0.962498 11.25 0.814125 11.1885 0.704729 11.0791C0.595333 10.9697 0.533875 10.8214 0.533875 10.6667V1.33333C0.533875 1.17862 0.595333 1.03025 0.704729 0.920854C0.814125 0.811458 0.962498 0.75 1.11721 0.75ZM7.0491 5.25536C6.67686 5.57744 6.12537 5.57999 5.75016 5.26137L3.10634 3.01627C2.86085 2.8078 2.49285 2.83775 2.2843 3.08318V3.08318C2.07565 3.32873 2.10563 3.69695 2.35125 3.90551L5.75638 6.79678C6.13238 7.11603 6.68499 7.11345 7.05798 6.79069L10.3911 3.90645C10.6347 3.69571 10.6613 3.32747 10.4507 3.08382V3.08382C10.2399 2.84003 9.87142 2.81332 9.62772 3.02419L7.0491 5.25536Z' fill='#13245F')
                                button.btn.btn--just-icon.coach-details-social__btn 
                                    svg.icon-social-linkedin(width='13' height='12' viewbox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        g(clip-path='url(#clip0_2_1601)')
                                        path(d='M10.5907 10.226H8.81369V7.4415C8.81369 6.7775 8.80019 5.923 7.88769 5.923C6.96119 5.923 6.81969 6.6455 6.81969 7.3925V10.226H5.04269V4.5H6.74969V5.2805H6.77269C7.01119 4.8305 7.59119 4.3555 8.45769 4.3555C10.2582 4.3555 10.5912 5.5405 10.5912 7.083V10.226H10.5907ZM3.03569 3.7165C2.46369 3.7165 2.00419 3.2535 2.00419 2.684C2.00419 2.115 2.46419 1.6525 3.03569 1.6525C3.60569 1.6525 4.06769 2.115 4.06769 2.684C4.06769 3.2535 3.60519 3.7165 3.03569 3.7165ZM3.92669 10.226H2.14469V4.5H3.92669V10.226ZM11.4797 0H1.25269C0.763188 0 0.367188 0.387 0.367188 0.8645V11.1355C0.367188 11.6135 0.763188 12 1.25269 12H11.4782C11.9672 12 12.3672 11.6135 12.3672 11.1355V0.8645C12.3672 0.387 11.9672 0 11.4782 0H11.4797Z' fill='#13245F')
                                    defs
                                        clippath#clip0_2_1601
                                        rect(width='12' height='12' fill='white' transform='translate(0.367188)')
                                button.btn.btn--just-icon.coach-details-social__btn 
                                    svg.icon-social-fb(width='13' height='12' viewbox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8.63519 12V7.356H10.1905L10.4232 5.55067H8.63519V4.39867C8.63519 3.876 8.78052 3.51933 9.52985 3.51933H10.4859V1.90467C10.0231 1.85556 9.55792 1.83175 9.09252 1.83333C7.71452 1.83333 6.77119 2.67467 6.77119 4.22V5.55067H5.21252V7.356H6.77119V12H1.03385C0.857043 12 0.687474 11.9298 0.56245 11.8047C0.437425 11.6797 0.367188 11.5101 0.367188 11.3333V0.666667C0.367188 0.489856 0.437425 0.320286 0.56245 0.195262C0.687474 0.0702379 0.857043 0 1.03385 0H11.7005C11.8773 0 12.0469 0.0702379 12.1719 0.195262C12.297 0.320286 12.3672 0.489856 12.3672 0.666667V11.3333C12.3672 11.5101 12.297 11.6797 12.1719 11.8047C12.0469 11.9298 11.8773 12 11.7005 12H8.63519V12Z' fill='#13245F')
                                button.btn.btn--just-icon.coach-details-social__btn 
                                    svg.icon-social-twitter(width='15' height='12' viewbox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.1419 1.77066C13.6329 1.99579 13.0932 2.14365 12.5405 2.20933C13.123 1.86095 13.559 1.31267 13.7672 0.666663C13.2205 0.991997 12.6212 1.22 11.9965 1.34333C11.5769 0.894383 11.0208 0.596639 10.4145 0.496387C9.80823 0.396134 9.18582 0.498991 8.64404 0.788966C8.10225 1.07894 7.67145 1.53979 7.4186 2.09986C7.16575 2.65993 7.10502 3.28785 7.24586 3.886C6.13726 3.83043 5.05275 3.54235 4.06272 3.04044C3.07269 2.53853 2.19928 1.83403 1.49919 0.972664C1.25139 1.3983 1.12116 1.88215 1.12186 2.37466C1.12186 3.34133 1.61386 4.19533 2.36186 4.69533C1.9192 4.68139 1.48628 4.56185 1.09919 4.34666V4.38133C1.09933 5.02513 1.3221 5.64907 1.72976 6.14737C2.13741 6.64567 2.70485 6.98765 3.33586 7.11533C2.92494 7.22669 2.49406 7.2431 2.07586 7.16333C2.25377 7.71749 2.60053 8.20213 3.06759 8.5494C3.53464 8.89668 4.09861 9.08919 4.68053 9.1C4.10218 9.55422 3.43998 9.88999 2.73178 10.0881C2.02358 10.2862 1.28328 10.3428 0.553192 10.2547C1.82766 11.0743 3.31126 11.5094 4.82653 11.508C9.95519 11.508 12.7599 7.25933 12.7599 3.57466C12.7599 3.45466 12.7565 3.33333 12.7512 3.21466C13.2971 2.82011 13.7683 2.33134 14.1425 1.77133L14.1419 1.77066Z' fill='#13245F')
                                button.btn.btn--just-icon.coach-details-social__btn 
                                    svg.icon-social-skype(width='13' height='14' viewbox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M12.175 8.03672C12.2391 7.68516 12.2734 7.32578 12.2734 6.96641C12.2734 6.16953 12.1172 5.39609 11.8094 4.66953C11.5125 3.96641 11.0859 3.33516 10.5438 2.79297C10.0061 2.25394 9.36875 1.82462 8.6672 1.52891C7.93907 1.22109 7.1672 1.06484 6.37032 1.06484C5.99532 1.06484 5.61876 1.10078 5.25314 1.17109C4.74722 0.903005 4.18351 0.762478 3.61095 0.761719C2.67814 0.761719 1.80001 1.12578 1.14064 1.78516C0.815264 2.10886 0.557287 2.49384 0.38162 2.91786C0.205952 3.34187 0.11608 3.79651 0.117198 4.25547C0.117198 4.84922 0.270323 5.43359 0.55626 5.94922C0.498448 6.28359 0.467198 6.62578 0.467198 6.96641C0.467198 7.76328 0.623448 8.53672 0.93126 9.26328C1.22814 9.96641 1.65314 10.5977 2.19532 11.1398C2.73751 11.682 3.36876 12.107 4.07189 12.4039C4.80001 12.7117 5.57189 12.868 6.36876 12.868C6.71564 12.868 7.06251 12.8367 7.40314 12.7758C7.92657 13.0711 8.5172 13.2289 9.12189 13.2289C10.0547 13.2289 10.9328 12.8664 11.5922 12.2055C12.2531 11.5461 12.6156 10.668 12.6156 9.73516C12.6172 9.14141 12.4641 8.55547 12.175 8.03672ZM6.39376 10.582C4.29689 10.582 3.35939 9.55078 3.35939 8.77891C3.35939 8.38203 3.65157 8.10547 4.0547 8.10547C4.95157 8.10547 4.72032 9.39453 6.39376 9.39453C7.25157 9.39453 7.72501 8.92891 7.72501 8.45234C7.72501 8.16641 7.58439 7.84766 7.01876 7.70859L5.15314 7.24297C3.65157 6.86641 3.37814 6.05391 3.37814 5.29141C3.37814 3.70703 4.87032 3.11172 6.27189 3.11172C7.56251 3.11172 9.08439 3.82578 9.08439 4.77578C9.08439 5.18359 8.73126 5.41953 8.32814 5.41953C7.56251 5.41953 7.70314 4.36016 6.16095 4.36016C5.39532 4.36016 4.97189 4.70703 4.97189 5.20234C4.97189 5.69766 5.57657 5.85547 6.10157 5.97578L7.48282 6.28203C8.99532 6.61953 9.37814 7.50234 9.37814 8.33359C9.37814 9.61953 8.38907 10.582 6.39376 10.582Z' fill='#13245F')
                    .coach-specialties 
                        h5.coach-specialties__title Specialties
                        .coach-specialties-btns
                            button.btn.btn--gray Video Production & Editing
                            button.btn.btn--gray Digital Marketing
                            button.btn.btn--gray Copywriting
                    .coach-video
                        iframe.coach-video__video(src='https://www.youtube.com/embed/7lvXbfNBIQg' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                        p.coach-video__desc Mindvalley Quests is the next step in online learning. Level up your life with a leading-edge curriculum of personal growth programs - or as we call them. Mindvalley Quests is the next step in online learning. Level up your life with a leading-edge curriculum of personal growth programs - or as we call them, 
                        a.link(href="") 
                            span Learn More
                            svg.icon-chevron-down.btn__icon--right(width='13' height='8' viewbox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                 path(d='M6.37719 7.425L12.3872 1.415L10.9742 0L6.37719 4.6L1.78119 0L0.367188 1.414L6.37719 7.425Z' fill='#1254FF')
            .col-xs-12.col-lg-5 
                .coach-session 
                    .coach-session-header 
                        span.coach-session-header__company Nothing Held Back +
                        h3.coach-session-header-title 
                            span General Coaching Session
                            svg.icon--right(width='12' height='6' viewbox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6 6L0 0H12L6 6Z' fill='#07080A')
                        span.coach-session-header-time
                            svg.icon--left(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM11 10V5H9V12H15V10H11Z' fill='#7C8DBF')

                            span 60 min 
                    .coach-session-subheader
                        .coach-session-subheader-img
                            img.coach-session-subheader__img(src="images/my-advisor-dp-01.png", alt="")
                            span 30+ People Recently Scheduled
                        p.coach-session-subheader__lead Our team will facilitate a demo targeted to your needs. Learn more about how our product can work for you and your team!
                    .coach-session-calendar.calendar 
                        span.calendar__title Select Date & Time
                        .calendar-header 
                            time.calendar__month(datetime='2020-10')  October 2020
                            svg(width='35' height='12' viewbox='0 0 35 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.56212 1.25771L1 5.81982L5.56212 10.3819' stroke='#586795' stroke-width='1.61295' stroke-linecap='round' stroke-linejoin='round')
                                path(d='M27.59 1.25771L32.1521 5.81982L27.59 10.3819' stroke='#586795' stroke-width='1.61295' stroke-linecap='round' stroke-linejoin='round')
                        .calendar__week
                            span Mo
                            span Tu
                            span We
                            span Th
                            span Fr
                            span Sa
                            span Su
                        .calendar-day
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-01') 
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-01') 
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-01') 
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-01') 1
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-02') 2
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-03') 3
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-04') 4
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-05') 5
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-06') 6
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-07') 7
                            button.btn.calendar-day__btn.calendar-day__btn--active
                                time(datetime='2020-10-08') 8
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-09') 9
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-10') 10
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-11') 11
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-12') 12
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-13') 13
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-14') 14
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-15') 15
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-16') 16
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-17') 17
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-18') 18
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-19') 19
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-20') 20
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-21') 21
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-22') 22
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-23') 23
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-24') 24
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-25') 25
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-26') 26
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-27') 27
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-28') 28
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-28') 29
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-28') 30
                            button.btn.calendar-day__btn
                                time(datetime='2020-10-28') 31
                        .calendar-footer 
                            svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M7.99967 1.33203C4.32367 1.33203 1.33301 4.3227 1.33301 7.9987C1.33301 11.6747 4.32367 14.6654 7.99967 14.6654C11.6757 14.6654 14.6663 11.6747 14.6663 7.9987C14.6663 4.3227 11.6757 1.33203 7.99967 1.33203ZM2.66634 7.9987C2.66634 7.39936 2.77034 6.82403 2.95367 6.28603L3.99967 7.33203L5.33301 8.66536V9.9987L6.66634 11.332L7.33301 11.9987V13.286C4.70701 12.956 2.66634 10.7134 2.66634 7.9987ZM12.2197 11.2474C11.7843 10.8967 11.1243 10.6654 10.6663 10.6654V9.9987C10.6663 9.64508 10.5259 9.30594 10.2758 9.05589C10.0258 8.80584 9.68663 8.66536 9.33301 8.66536H6.66634V6.66536C7.01996 6.66536 7.3591 6.52489 7.60915 6.27484C7.8592 6.02479 7.99967 5.68565 7.99967 5.33203V4.66536H8.66634C9.01996 4.66536 9.3591 4.52489 9.60915 4.27484C9.8592 4.02479 9.99967 3.68565 9.99967 3.33203V3.05803C11.9517 3.8507 13.333 5.76536 13.333 7.9987C13.3329 9.17516 12.9412 10.3181 12.2197 11.2474Z' fill='#586795')
                            span.calendar-footer__timezone 
                                span Eastern European Time (19.50)

section.section.book-session 
    .wrapper
        .book-session-header
            .section-header
                h3.section__subtitle My advisor
                h2.section__title Avis, meet your perosnal NHB+ coach
        .book-session-cards 
            .card.card--h1
                .card-header
                    img.card-header__img(src="images/book-session-01.jpg", alt="")
                    span.card-header-overlay.card-header-overlay--center 
                        span.card-header-overlay__count 8
                        span Appointments Available
                .card-body 
                    div
                        img(src="images/my-advisor-dp-01.png", alt="")
                        span 30+ People Recently Scheduled
                    h5.card-body__title General Coaching Session
                    p.card-body__text Mindvalley Quests is the next step in online learning. Level up your life with a leading-edge curriculum of personal growth programs - or as we call them. 
                .card-btn 
                    button.btn 
                        svg.icon-calendar.btn__icon--left(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M12.7506 2.25H15.7506C15.9495 2.25 16.1403 2.32902 16.2809 2.46967C16.4216 2.61032 16.5006 2.80109 16.5006 3V15C16.5006 15.1989 16.4216 15.3897 16.2809 15.5303C16.1403 15.671 15.9495 15.75 15.7506 15.75H2.25061C2.0517 15.75 1.86093 15.671 1.72028 15.5303C1.57963 15.3897 1.50061 15.1989 1.50061 15V3C1.50061 2.80109 1.57963 2.61032 1.72028 2.46967C1.86093 2.32902 2.0517 2.25 2.25061 2.25H5.25061V0.75H6.75061V2.25H11.2506V0.75H12.7506V2.25ZM15.0006 8.25H3.00061V14.25H15.0006V8.25ZM11.2506 3.75H6.75061V5.25H5.25061V3.75H3.00061V6.75H15.0006V3.75H12.7506V5.25H11.2506V3.75ZM4.50061 9.75H6.00061V11.25H4.50061V9.75ZM8.25061 9.75H9.75061V11.25H8.25061V9.75ZM12.0006 9.75H13.5006V11.25H12.0006V9.75Z' fill='white')
                        span Schedule 1-on-1 Call
            .card.card--h1
                .card-header
                    img.card-header__img(src="images/book-session-02.jpg", alt="")
                    span.card-header-overlay.card-header-overlay--center 
                        span.card-header-overlay__count 8
                        span.card-header-overlay__apt Appointments Available
                .card-body 
                    div
                        img(src="images/my-advisor-dp-01.png", alt="")
                        span 30+ People Recently Scheduled
                    h5.card-body__title General Coaching Session
                    p.card-body__text Mindvalley Quests is the next step in online learning. Level up your life with a leading-edge curriculum of personal growth programs - or as we call them. 
                .card-btn 
                    button.btn 
                        svg.icon-calendar.btn__icon--left(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M12.7506 2.25H15.7506C15.9495 2.25 16.1403 2.32902 16.2809 2.46967C16.4216 2.61032 16.5006 2.80109 16.5006 3V15C16.5006 15.1989 16.4216 15.3897 16.2809 15.5303C16.1403 15.671 15.9495 15.75 15.7506 15.75H2.25061C2.0517 15.75 1.86093 15.671 1.72028 15.5303C1.57963 15.3897 1.50061 15.1989 1.50061 15V3C1.50061 2.80109 1.57963 2.61032 1.72028 2.46967C1.86093 2.32902 2.0517 2.25 2.25061 2.25H5.25061V0.75H6.75061V2.25H11.2506V0.75H12.7506V2.25ZM15.0006 8.25H3.00061V14.25H15.0006V8.25ZM11.2506 3.75H6.75061V5.25H5.25061V3.75H3.00061V6.75H15.0006V3.75H12.7506V5.25H11.2506V3.75ZM4.50061 9.75H6.00061V11.25H4.50061V9.75ZM8.25061 9.75H9.75061V11.25H8.25061V9.75ZM12.0006 9.75H13.5006V11.25H12.0006V9.75Z' fill='white')
                        span Schedule 1-on-1 Call
        button.btn.btn--outline.book-session__btn Deliver More Topic
                    