section.section.member-stories 
    .wrapper 
        .section-header
            div
                h3.section__subtitle Member’s Stories
                h2.section__title Here’s why I love NHB
            a.link(href="") Learn More 
        .cards 
            .member-stories-a.card.card--plain
                .card-subheader
                    img.card-subheader__img(src="images/user-dp-amanda.png", alt="")
                    .card-author
                        span.card-author__name Amanda Nickson
                        span.card-author__caption Client
                    .card-rating.badge.badge--rating
                        svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                        span.badge__text 5.0
                .card-body 
                    h5.card-body__title The best marketing strategist ever! I highly recommend!
                    p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional 
                        span - Alen is the besst choice! Thanks a lot! I’m really happy!

                    p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional 
                        span - Alen is the besst choice! Thanks a lot! I’m really happy!

                    p.card-body__text Alen is the besst choice! Thanks a lot! I’m really happy!
            .member-stories-b.card.card--plain
                .card-subheader
                    img.card-subheader__img(src="images/user-dp-amanda.png", alt="")
                    .card-author
                        span.card-author__name Amanda Nickson
                        span.card-author__caption Client
                    .card-rating.badge.badge--rating
                        svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                        span.badge__text 5.0
                .card-body 
                    h5.card-body__title The best marketing strategist ever! I highly recommend!
                    p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional - Alen is the besst choice! Thanks a lot! I’m really happy! 
                        span The best marketing strategist ever! 
                    
            .member-stories-c.card.card--plain
                .card-subheader
                    img.card-subheader__img(src="images/user-dp-amanda-02.png", alt="")
                    .card-author
                        span.card-author__name Amanda Nickson
                        span.card-author__caption Client
                    .card-rating.badge.badge--rating
                        svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                        span.badge__text 5.0
                .card-body 
                    h5.card-body__title The best marketing strategist ever! I highly recommend!
                    p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service ...

            .member-stories-d.card.card--plain
                .card-subheader
                    .card-author
                        span.card-author__name Amanda Nickson
                        span.card-author__caption Client
                    .card-rating.badge.badge--rating
                        svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                        span.badge__text 5.0
                .card-body 
                    p.card-body__text “The best marketing strategist ever! I highly recommend!”
                    button.btn.btn--just-icon
                        svg.card-icon-overlay.icon-play-blue(width='13' height='16' viewbox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M11.876 8.41534L1.277 15.4813C1.20171 15.5314 1.11423 15.5602 1.02389 15.5645C0.933553 15.5688 0.843733 15.5486 0.763999 15.5059C0.684265 15.4632 0.617604 15.3997 0.571114 15.3221C0.524624 15.2445 0.500047 15.1558 0.5 15.0653V0.933336C0.500047 0.842894 0.524624 0.754158 0.571114 0.676579C0.617604 0.599 0.684265 0.535484 0.763999 0.492795C0.843733 0.450106 0.933553 0.429843 1.02389 0.434165C1.11423 0.438487 1.20171 0.467231 1.277 0.517336L11.876 7.58334C11.9445 7.629 12.0006 7.69086 12.0395 7.76343C12.0783 7.836 12.0986 7.91703 12.0986 7.99934C12.0986 8.08164 12.0783 8.16267 12.0395 8.23524C12.0006 8.30781 11.9445 8.36967 11.876 8.41534Z' fill='#1254FF')
             
            .member-stories-e.card.card--plain
                .card-subheader
                    img.card-subheader__img(src="images/user-dp-amanda.png", alt="")
                    .card-author
                        span.card-author__name Amanda Nickson
                        span.card-author__caption Client
                    .card-rating.badge.badge--rating
                        svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                        span.badge__text 5.0
                .card-body 
                    h5.card-body__title The best marketing strategist ever! I highly recommend!
                    p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional - Alen is the besst choice! Thanks a lot! I’m really happy! The best marketing strategist ever! 
                    button.btn.btn--just-icon
                        svg.card-icon-overlay.icon-play-blue(width='13' height='16' viewbox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M11.876 8.41534L1.277 15.4813C1.20171 15.5314 1.11423 15.5602 1.02389 15.5645C0.933553 15.5688 0.843733 15.5486 0.763999 15.5059C0.684265 15.4632 0.617604 15.3997 0.571114 15.3221C0.524624 15.2445 0.500047 15.1558 0.5 15.0653V0.933336C0.500047 0.842894 0.524624 0.754158 0.571114 0.676579C0.617604 0.599 0.684265 0.535484 0.763999 0.492795C0.843733 0.450106 0.933553 0.429843 1.02389 0.434165C1.11423 0.438487 1.20171 0.467231 1.277 0.517336L11.876 7.58334C11.9445 7.629 12.0006 7.69086 12.0395 7.76343C12.0783 7.836 12.0986 7.91703 12.0986 7.99934C12.0986 8.08164 12.0783 8.16267 12.0395 8.23524C12.0006 8.30781 11.9445 8.36967 11.876 8.41534Z' fill='#1254FF')

            .member-stories-f.card.card--plain
                .card-subheader
                    img.card-subheader__img(src="images/user-dp-amanda.png", alt="")
                    .card-author
                        span.card-author__name Amanda Nickson
                        span.card-author__caption Client
                    .card-rating.badge.badge--rating
                        svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                        span.badge__text 5.0
                .card-body 
                    h5.card-body__title The best marketing strategist ever! I highly recommend!
                    p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service ...
        .section-footer
            button.btn.btn--outline.section-footer__btn See 3,482 More Reviews