section.section.recommended-books 
    .wrapper
        .section-header
            h3.section__subtitle Recommended Books
            h2.section__title Here’s A Few Books We Love ❤️
        .books 
            .books-feature 
                img(src="images/recommended-book-00.jpg", alt="")
                svg(width='216' height='5' viewbox='0 0 216 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(width='216' height='5' rx='2.5' fill='#C4C4C4')
                    rect(width='170' height='5' rx='2.5' fill='#1254FF')
            .books-body
                .books-list 
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-01.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-02.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-03.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-04.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-05.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-06.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-07.jpg", alt="")
                    .books-list-item 
                        img.books-list-item__img(src="images/recommended-book-08.jpg", alt="")
                .books-review  
                    span.books-review__author alen Sultanic
                    .books-review-title 
                        h3.books-review__title Nothing Held Back Book’s
                        span.badge.badge--rating 
                            svg.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
                            span 5.0
                    p.books-review__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
                button.btn.btn--outline.books-body__btn See All Reviews