section.section.newsletter
    .wrapper
        .section-header
            h3.section__subtitle Newsletter Subscription  #002
            h2.section__title Get The NHB+ Print Newsletter Delivered To You Every Month
            p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
        .newsletter-container
            .newsletter-feature
                .newsletter-feature-thumb
                    .newsletter-feature-thumb-main 
                        img.newsletter-feature-thumb-main__img(src="images/all-programs-newsletter-dp-01.jpg", alt="")
                        .newsletter-feature-thumb-main-editor 
                            span.newsletter-feature-thumb-main-editor__name Tony Flores & 
                                br
                                | Kath Wilson
                            span.newsletter-feature-thumb-main-editor__caption Newsletter Editor
                    .newsletter-feature-thumb-sub 
                        img.newsletter-feature-thumb-sub__img(src="images/all-programs-newsletter-thumb-01.jpg", alt="")
                        img.newsletter-feature-thumb-sub__img(src="images/all-programs-newsletter-thumb-01.jpg", alt="")
                        img.newsletter-feature-thumb-sub__img.newsletter-feature-thumb-sub__img--active(src="images/all-programs-newsletter-thumb-01.jpg", alt="")

                .newsletter-feature-img 
                        img.newsletter-feature-img__offset(src="images/all-programs-newsletter-dp-02.jpg", alt="")
                        span Issue #002
                        img.newsletter-feature-img__img(src="images/all-programs-newsletter-feature.jpg", alt="")
                        svg(width='80' height='5' viewbox='0 0 80 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(x='0.544922' width='79' height='5' rx='2.5' fill='#C4C4C4')
                            rect(x='0.00195312' width='62' height='5' rx='2.5' fill='#1254FF')
            .newsletter-body
                h3.newsletter-body__title Just Let Us Know Where To Ship 
                    br
                    span Your 
                    span.newsletter-body__title--highlight December Issue #002
                .newsletter-cards 
                    .newsletter-card.card.newsletter-card--active
                        .newsletter-card-icon
                            svg.newsletter-card__icon(width='19' height='18' viewbox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                circle(cx='9.50195' cy='9' r='4' fill='#FFC700')
                                circle(cx='9.50195' cy='9' r='8.5' stroke='#FFC700')
                            img.newsletter-card__arrow(src="images/all-programs-newsletter-arrow.svg", alt="")
                        .newsletter-card-body
                            h4.newsletter-card__title Get the Newest Marketing Issue 
                            p.newsletter-card__text From PPC to SEO, Content to Video, Social and Analytics. 
                                br
                                | Perfect for career switchers, business owners and ...
            
                    .newsletter-card.card
                        svg.icon-dot-blue.newsletter-card__icon(width='9' height='8' viewbox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='4.50195' cy='4' r='4' fill='#1254FF')
                        .newsletter-card-body
                            h4.newsletter-card__title Arrive Weekly at Your Doorstep
                            p.newsletter-card__text From PPC to SEO, Content to Video, Social and Analytics. 
                                br
                                | Perfect for career switchers, business owners and ...
  
                    .newsletter-card.card
                        svg.icon-dot-blue.newsletter-card__icon(width='9' height='8' viewbox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='4.50195' cy='4' r='4' fill='#1254FF')
                        .newsletter-card-body
                            h4.newsletter-card__title Secrets Letter from Various Experts
                            p.newsletter-card__text From PPC to SEO, Content to Video, Social and Analytics. 
                                br
                                | Perfect for career switchers, business owners and ...
  
                    .newsletter-card.card
                        svg.icon-dot-blue.newsletter-card__icon(width='9' height='8' viewbox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='4.50195' cy='4' r='4' fill='#1254FF')
                        .newsletter-card-body
                            h4.newsletter-card__title Get the Newest Issue 
                            p.newsletter-card__text From PPC to SEO, Content to Video, Social and Analytics. 
                                br
                                | Perfect for career switchers, business owners and ...
  
                button.btn.newsletter-body__btn Subscribe Our Newsletter