section.section.resources

    .wrapper
        .section-header
            h3.section__subtitle Learning Recomendations
            h2.section__title Today’s Course Highlight
            p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...

        .resources-cards 
            .card.card--v2.resources-card.resources-card-a
                .card-header
                    .card-header-title
                        h4.card-header__title Video Editing Software
                        span.card-header__caption Discover 10+ More
                    .card-header-img
                        svg(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                            g(clip-path='url(#clip0_106_3758)')
                                path(d='M11.9146 5.51205V3.68278H4.59756V1.85352H13.7439V5.51205H14.6585C14.9011 5.51205 15.1338 5.60842 15.3053 5.77994C15.4768 5.95147 15.5732 6.18411 15.5732 6.42669V8.43888L20.3412 5.10047C20.4097 5.05241 20.4902 5.02409 20.5737 5.01861C20.6572 5.01312 20.7407 5.03068 20.815 5.06936C20.8892 5.10805 20.9514 5.16637 20.9948 5.23798C21.0382 5.30959 21.0611 5.39174 21.061 5.47547V16.5242C21.0611 16.608 21.0382 16.6901 20.9948 16.7617C20.9514 16.8333 20.8892 16.8917 20.815 16.9303C20.7407 16.969 20.6572 16.9866 20.5737 16.9811C20.4902 16.9756 20.4097 16.9473 20.3412 16.8992L15.5732 13.5608V17.4023C15.5732 17.6449 15.4768 17.8775 15.3053 18.049C15.1338 18.2206 14.9011 18.3169 14.6585 18.3169H1.85366C1.61108 18.3169 1.37844 18.2206 1.20692 18.049C1.03539 17.8775 0.939026 17.6449 0.939026 17.4023V6.42669C0.939026 6.18411 1.03539 5.95147 1.20692 5.77994C1.37844 5.60842 1.61108 5.51205 1.85366 5.51205H11.9146ZM4.59756 9.17059V10.9999H6.42683V9.17059H4.59756Z' fill='#586795')
                            defs
                                clippath#clip0_106_3758
                                    rect(width='21.9512' height='21.9512' fill='white' transform='translate(0.0243835 0.0244141)')

                hr.card__hr
                .card-body 
                    p.card-body__text Godzilla, Kong, and Mechagodzilla arrive in PUBG Mobile's version 1.4 update which also brings microcosm gameplay, 
                    .card-body-apps 
                        img.card-body-apps__img(src="images/all-programs-resources-filmora.svg", alt="filmora icon") 
                        img.card-body-apps__img(src="images/all-programs-resources-blender.svg", alt="blender icon") 
                        img.card-body-apps__img(src="images/all-programs-resources-feather.svg", alt="feather icon") 
                        img.card-body-apps__img(src="images/all-programs-resources-vimeo.svg", alt="vimeo icon") 
                .card-footer
                    button.btn--just-icon 
                        svg(width='106' height='10' viewbox='0 0 106 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='77' cy='5' r='5' fill='#C4C4C4')
                            circle(cx='101' cy='5' r='5' fill='#C4C4C4')
                            circle(cx='53' cy='5' r='5' fill='#C4C4C4')
                            circle(cx='5' cy='5' r='5' fill='#13245F')
                            circle(cx='29' cy='5' r='5' fill='#13245F')
                            rect(x='5' y='10' width='10' height='25' transform='rotate(-90 5 10)' fill='#13245F')
            .card.card--v2.resources-card.resources-card-b
                .card-header
                    .card-header-img
                        img(src="images/all-programs-resources-shape-02.jpg", alt="")
                    .card-header-title
                        h4.card-header__title Filmora Video Editor
                        span.card-header__tags 
                            span Software, 
                            span.card-header__tags--highlight Video Editing
                hr.card__hr
                .card-body 
                    p.card-body__text Godzilla, Kong, and Mechagodzilla arrive in PUBG Mobile's version 1.4 update which also brings microcosm gameplay, 
                    .card-body-apps 
                        img.card-body-apps__img(src="images/all-programs-resources-filmora.svg", alt="filmora icon") 
                        img.card-body-apps__img(src="images/all-programs-resources-blender.svg", alt="blender icon") 
                        img.card-body-apps__img(src="images/all-programs-resources-feather.svg", alt="feather icon") 
                        img.card-body-apps__img(src="images/all-programs-resources-vimeo.svg", alt="vimeo icon") 
                .card-footer
                    button.btn--just-icon 
                        svg(width='106' height='10' viewbox='0 0 106 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='77' cy='5' r='5' fill='#C4C4C4')
                            circle(cx='101' cy='5' r='5' fill='#C4C4C4')
                            circle(cx='53' cy='5' r='5' fill='#C4C4C4')
                            circle(cx='5' cy='5' r='5' fill='#13245F')
                            circle(cx='29' cy='5' r='5' fill='#13245F')
                            rect(x='5' y='10' width='10' height='25' transform='rotate(-90 5 10)' fill='#13245F')
