h1 BUTTON

button.btn
    span.btn__name button name
    svg.btn__icon--right(width='16' height='17' viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M10 1.83301C10.4682 1.83296 10.9281 1.95617 11.3336 2.19025C11.7391 2.42434 12.0758 2.76106 12.3098 3.16654C12.5439 3.57203 12.6671 4.03199 12.667 4.50018C12.6669 4.96837 12.5436 5.42828 12.3093 5.83368L15.3333 5.83301V7.16635H14V13.833C14 14.0098 13.9298 14.1794 13.8047 14.3044C13.6797 14.4294 13.5101 14.4997 13.3333 14.4997H2.66667C2.48986 14.4997 2.32029 14.4294 2.19527 14.3044C2.07024 14.1794 2.00001 14.0098 2.00001 13.833V7.16635H0.666672V5.83301L3.69067 5.83368C3.35991 5.26094 3.2538 4.58572 3.39293 3.93913C3.53206 3.29254 3.9065 2.72072 4.44356 2.33471C4.98062 1.9487 5.64196 1.77605 6.29917 1.85026C6.95638 1.92448 7.56256 2.24028 8 2.73635C8.24973 2.45193 8.55738 2.22419 8.90232 2.0684C9.24726 1.9126 9.62151 1.83234 10 1.83301V1.83301ZM8.66667 7.16635H7.33334V13.833H8.66667V7.16635ZM6 3.16635C5.65402 3.1648 5.32097 3.2978 5.07124 3.53726C4.8215 3.77673 4.67463 4.10389 4.66164 4.44964C4.64866 4.79539 4.77059 5.13264 5.00167 5.39016C5.23274 5.64767 5.55487 5.80528 5.90001 5.82968L6 5.83301H7.33334V4.49968C7.33335 4.18105 7.21926 3.87296 7.01173 3.63118C6.8042 3.38941 6.51695 3.22995 6.20201 3.18168L6.09934 3.16968L6 3.16635ZM10 3.16635C9.66362 3.16624 9.33963 3.29328 9.09297 3.52201C8.84632 3.75074 8.69523 4.06424 8.67 4.39968L8.66667 4.49968V5.83301H10C10.3364 5.83312 10.6604 5.70607 10.907 5.47735C11.1537 5.24862 11.3048 4.93512 11.33 4.59968L11.3333 4.49968C11.3333 4.14606 11.1929 3.80692 10.9428 3.55687C10.6928 3.30682 10.3536 3.16635 10 3.16635V3.16635Z' fill='#13245F')
button.btn.btn--accent
    svg.btn__icon--left(width='16' height='17' viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M10 1.83301C10.4682 1.83296 10.9281 1.95617 11.3336 2.19025C11.7391 2.42434 12.0758 2.76106 12.3098 3.16654C12.5439 3.57203 12.6671 4.03199 12.667 4.50018C12.6669 4.96837 12.5436 5.42828 12.3093 5.83368L15.3333 5.83301V7.16635H14V13.833C14 14.0098 13.9298 14.1794 13.8047 14.3044C13.6797 14.4294 13.5101 14.4997 13.3333 14.4997H2.66667C2.48986 14.4997 2.32029 14.4294 2.19527 14.3044C2.07024 14.1794 2.00001 14.0098 2.00001 13.833V7.16635H0.666672V5.83301L3.69067 5.83368C3.35991 5.26094 3.2538 4.58572 3.39293 3.93913C3.53206 3.29254 3.9065 2.72072 4.44356 2.33471C4.98062 1.9487 5.64196 1.77605 6.29917 1.85026C6.95638 1.92448 7.56256 2.24028 8 2.73635C8.24973 2.45193 8.55738 2.22419 8.90232 2.0684C9.24726 1.9126 9.62151 1.83234 10 1.83301V1.83301ZM8.66667 7.16635H7.33334V13.833H8.66667V7.16635ZM6 3.16635C5.65402 3.1648 5.32097 3.2978 5.07124 3.53726C4.8215 3.77673 4.67463 4.10389 4.66164 4.44964C4.64866 4.79539 4.77059 5.13264 5.00167 5.39016C5.23274 5.64767 5.55487 5.80528 5.90001 5.82968L6 5.83301H7.33334V4.49968C7.33335 4.18105 7.21926 3.87296 7.01173 3.63118C6.8042 3.38941 6.51695 3.22995 6.20201 3.18168L6.09934 3.16968L6 3.16635ZM10 3.16635C9.66362 3.16624 9.33963 3.29328 9.09297 3.52201C8.84632 3.75074 8.69523 4.06424 8.67 4.39968L8.66667 4.49968V5.83301H10C10.3364 5.83312 10.6604 5.70607 10.907 5.47735C11.1537 5.24862 11.3048 4.93512 11.33 4.59968L11.3333 4.49968C11.3333 4.14606 11.1929 3.80692 10.9428 3.55687C10.6928 3.30682 10.3536 3.16635 10 3.16635V3.16635Z' fill='#13245F')
    span.btn__name button name
button.btn.btn--outline
    svg.btn__icon(width='16' height='17' viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M10 1.83301C10.4682 1.83296 10.9281 1.95617 11.3336 2.19025C11.7391 2.42434 12.0758 2.76106 12.3098 3.16654C12.5439 3.57203 12.6671 4.03199 12.667 4.50018C12.6669 4.96837 12.5436 5.42828 12.3093 5.83368L15.3333 5.83301V7.16635H14V13.833C14 14.0098 13.9298 14.1794 13.8047 14.3044C13.6797 14.4294 13.5101 14.4997 13.3333 14.4997H2.66667C2.48986 14.4997 2.32029 14.4294 2.19527 14.3044C2.07024 14.1794 2.00001 14.0098 2.00001 13.833V7.16635H0.666672V5.83301L3.69067 5.83368C3.35991 5.26094 3.2538 4.58572 3.39293 3.93913C3.53206 3.29254 3.9065 2.72072 4.44356 2.33471C4.98062 1.9487 5.64196 1.77605 6.29917 1.85026C6.95638 1.92448 7.56256 2.24028 8 2.73635C8.24973 2.45193 8.55738 2.22419 8.90232 2.0684C9.24726 1.9126 9.62151 1.83234 10 1.83301V1.83301ZM8.66667 7.16635H7.33334V13.833H8.66667V7.16635ZM6 3.16635C5.65402 3.1648 5.32097 3.2978 5.07124 3.53726C4.8215 3.77673 4.67463 4.10389 4.66164 4.44964C4.64866 4.79539 4.77059 5.13264 5.00167 5.39016C5.23274 5.64767 5.55487 5.80528 5.90001 5.82968L6 5.83301H7.33334V4.49968C7.33335 4.18105 7.21926 3.87296 7.01173 3.63118C6.8042 3.38941 6.51695 3.22995 6.20201 3.18168L6.09934 3.16968L6 3.16635ZM10 3.16635C9.66362 3.16624 9.33963 3.29328 9.09297 3.52201C8.84632 3.75074 8.69523 4.06424 8.67 4.39968L8.66667 4.49968V5.83301H10C10.3364 5.83312 10.6604 5.70607 10.907 5.47735C11.1537 5.24862 11.3048 4.93512 11.33 4.59968L11.3333 4.49968C11.3333 4.14606 11.1929 3.80692 10.9428 3.55687C10.6928 3.30682 10.3536 3.16635 10 3.16635V3.16635Z' fill='#13245F')
    span.btn__name button name
.control-btn
    button.btn.btn--just-icon.btn--prev
        svg(width='56' height='57' viewbox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M25.7628 27.2271C24.6289 27.2271 24.0611 25.8562 24.8629 25.0544L28.6173 21.3C29.1142 20.8031 29.1142 19.9974 28.6173 19.5004V19.5004C28.1203 19.0034 27.3146 19.0034 26.8176 19.5004L18.7181 27.5999C18.2211 28.0969 18.2211 28.9028 18.7181 29.3998L26.8176 37.4993C27.3146 37.9963 28.1203 37.9963 28.6173 37.4993V37.4993C29.1142 37.0024 29.1142 36.1966 28.6173 35.6997L24.8629 31.9453C24.0611 31.1435 24.6289 29.7726 25.7628 29.7726H36.9091C37.612 29.7726 38.1818 29.2028 38.1818 28.4999V28.4999C38.1818 27.797 37.612 27.2271 36.9091 27.2271H25.7628Z' fill='#07080A')
            rect(x='-0.636364' y='0.636364' width='54.7273' height='54.7273' rx='27.3636' transform='matrix(-1 0 0 1 54.7273 0.5)' stroke='#13245F' stroke-width='1.27273')

    button.btn.btn--just-icon.btn--next
        svg(width='56' height='57' viewbox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M30.2372 27.2271C31.3711 27.2271 31.9389 25.8562 31.1371 25.0544L27.3827 21.3C26.8858 20.8031 26.8858 19.9974 27.3827 19.5004V19.5004C27.8797 19.0034 28.6854 19.0034 29.1824 19.5004L37.2819 27.5999C37.7789 28.0969 37.7789 28.9028 37.2819 29.3998L29.1824 37.4993C28.6854 37.9963 27.8797 37.9963 27.3827 37.4993V37.4993C26.8858 37.0024 26.8858 36.1966 27.3827 35.6997L31.1371 31.9453C31.9389 31.1435 31.3711 29.7726 30.2372 29.7726H19.0909C18.388 29.7726 17.8182 29.2028 17.8182 28.4999V28.4999C17.8182 27.797 18.388 27.2271 19.0909 27.2271H30.2372Z' fill='#07080A')
            rect(x='0.636364' y='1.13636' width='54.7273' height='54.7273' rx='27.3636' stroke='#13245F' stroke-width='1.27273')

a.link(href="")
    span View All 
    svg.icon-arrow-right.icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')

h1 CARD 

h2 card--v-1
.card.card--v1
    .card-header
        img.card-header__img(src="images/course-01.jpg", alt="")
        button.card-header__btn 
            svg.icon-heart.card-header__btn-icon(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.527344 4.86975C0.527133 3.65702 1.02066 2.49514 1.89688 1.64551C2.7731 0.795888 3.95843 0.32988 5.18617 0.352338C6.64084 0.344709 8.02888 0.95397 8.99793 2.02545C9.96698 0.95397 11.355 0.344709 12.8097 0.352338C14.0374 0.32988 15.2228 0.795888 16.099 1.64551C16.9752 2.49514 17.4687 3.65702 17.4685 4.86975C17.4685 9.35036 12.0651 12.7334 8.99793 15.4104C5.93751 12.7108 0.527344 9.35371 0.527344 4.86975Z' fill='#FF0000' fill-opacity='0.7')

        .card-subheader
            .card-author
                img.card-author__img(src="images/user-dp-neil.png", alt="")
                span.card-author__name Neil Armstrong
                span.card-author__caption Entrepreneur, Business Coach
            .card-price 
                h6.card-price__main $1,455
                span.card-price__line $1,455
    hr.card__hr
    .card-body 
        h5.card-body__title Start The New Year With A Crystal Clear Vision for Your Business an...
        p.card-body__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
    .card-footer
        button.btn.card-footer__btn Enroll Now
        a.card-footer__cta(href="") Learn more  

h2 card--v2
.card.card--v2
    .card-header
        img.card-header__img(src="images/course-01.jpg", alt="")
        span.card-header__overlay
        .card-subheader
            .card-author
                .card-author-name
                    span.card-author__name Neil Armstrong
                    span.card-author__caption Entrepreneur, Business Coach
                .card-author-img
                    img.card-author__img(src="images/user-dp-neil.png", alt="")
                    svg.icon-signal.card-author__icon(width='29' height='29' viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M14.5987 15.7255L21.7988 26.5257H7.3985L14.5987 15.7255ZM13.3266 12.7974C13.1498 12.6327 13.0079 12.4339 12.9095 12.2131C12.8112 11.9923 12.7583 11.754 12.754 11.5123C12.7497 11.2706 12.7942 11.0305 12.8847 10.8064C12.9753 10.5822 13.11 10.3786 13.2809 10.2077C13.4519 10.0368 13.6555 9.90202 13.8796 9.81149C14.1037 9.72095 14.3438 9.67649 14.5855 9.68076C14.8272 9.68502 15.0656 9.73792 15.2864 9.83631C15.5072 9.93469 15.7059 10.0765 15.8707 10.2534C16.1886 10.5946 16.3617 11.0459 16.3535 11.5123C16.3453 11.9786 16.1564 12.4235 15.8266 12.7533C15.4968 13.0831 15.0518 13.272 14.5855 13.2803C14.1192 13.2885 13.6679 13.1154 13.3266 12.7974ZM6.53568 3.46484L8.23372 5.16288C6.54608 6.85071 5.59798 9.1398 5.59798 11.5266C5.59798 13.9134 6.54608 16.2025 8.23372 17.8904L6.53568 19.5884C5.4769 18.5298 4.63701 17.2729 4.06399 15.8897C3.49098 14.5064 3.19604 13.0239 3.19604 11.5266C3.19604 10.0294 3.49098 8.5468 4.06399 7.16355C4.63701 5.7803 5.4769 4.52348 6.53568 3.46484ZM22.6592 3.46484C23.718 4.52348 24.5579 5.7803 25.1309 7.16355C25.7039 8.5468 25.9989 10.0294 25.9989 11.5266C25.9989 13.0239 25.7039 14.5064 25.1309 15.8897C24.5579 17.2729 23.718 18.5298 22.6592 19.5884L20.9612 17.8904C22.6488 16.2025 23.5969 13.9134 23.5969 11.5266C23.5969 9.1398 22.6488 6.85071 20.9612 5.16288L22.6592 3.46484ZM9.93056 6.85852L11.6274 8.55535C11.2373 8.94537 10.9279 9.40841 10.7168 9.91801C10.5057 10.4276 10.3971 10.9738 10.3971 11.5254C10.3971 12.077 10.5057 12.6232 10.7168 13.1328C10.9279 13.6424 11.2373 14.1055 11.6274 14.4955L9.93056 16.1923C8.69285 14.9546 7.99752 13.2758 7.99752 11.5254C7.99752 9.775 8.69285 8.09628 9.93056 6.85852ZM19.2644 6.85852C20.5021 8.09628 21.1974 9.775 21.1974 11.5254C21.1974 13.2758 20.5021 14.9546 19.2644 16.1923L17.5675 14.4955C17.9576 14.1055 18.267 13.6424 18.4781 13.1328C18.6892 12.6232 18.7979 12.077 18.7979 11.5254C18.7979 10.9738 18.6892 10.4276 18.4781 9.91801C18.267 9.40841 17.9576 8.94537 17.5675 8.55535L19.2644 6.85852Z' fill='white')
    hr.card__hr
    .card-body 
        h5.card-body__title Start The New Year With A Crystal Clear Vision for Your Business an...
        p.card-body__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
    .card-footer
        button.btn.btn--outline.card-footer__btn 
            span Reserve Your Seat
            svg.btn__icon--right.icon-arrow-right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')

        button.btn--just-icon 
            svg.icon-bell(width='29' height='30' viewbox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M25.5329 21.4758H28.2862V24.2303H0.753296V21.4758H3.50659V11.835C3.50659 8.9128 4.6669 6.11031 6.73227 4.04402C8.79764 1.97773 11.5989 0.816895 14.5198 0.816895C17.4406 0.816895 20.2419 1.97773 22.3072 4.04402C24.3726 6.11031 25.5329 8.9128 25.5329 11.835V21.4758ZM22.7796 21.4758V11.835C22.7796 9.64335 21.9094 7.54148 20.3604 5.99176C18.8113 4.44204 16.7104 3.57142 14.5198 3.57142C12.3291 3.57142 10.2282 4.44204 8.67914 5.99176C7.13011 7.54148 6.25988 9.64335 6.25988 11.835V21.4758H22.7796ZM10.3898 26.9848H18.6497V29.7394H10.3898V26.9848Z' fill='#1254FF')

h2 card--v2--fullbtn
.card.card--v2.card--v2--fullbtn 
    .card-header
        .card-header__img
            img(src="images/course-01.jpg", alt="")
            span.card-header-overlay
                span.card-header-overlay__icon 
                    svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='14' cy='14' r='8.5' stroke='#FF2559' stroke-opacity='0.3')
                        circle(cx='14' cy='14' r='4' fill='#FF2559')
                        circle(cx='14' cy='14' r='13.5' stroke='#FF2559' stroke-opacity='0.1')

                span Premiered on Jun. 6, 2021
            button.card-header__btn 
                svg.icon-heart.card-header__btn-icon(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.527344 4.86975C0.527133 3.65702 1.02066 2.49514 1.89688 1.64551C2.7731 0.795888 3.95843 0.32988 5.18617 0.352338C6.64084 0.344709 8.02888 0.95397 8.99793 2.02545C9.96698 0.95397 11.355 0.344709 12.8097 0.352338C14.0374 0.32988 15.2228 0.795888 16.099 1.64551C16.9752 2.49514 17.4687 3.65702 17.4685 4.86975C17.4685 9.35036 12.0651 12.7334 8.99793 15.4104C5.93751 12.7108 0.527344 9.35371 0.527344 4.86975Z' fill='#FF0000' fill-opacity='0.7')
        .card-subheader
            .card-author
                .card-author-name
                    span.card-author__name Neil Armstrong
                    span.card-author__caption Entrepreneur, Business Coach
                .card-author-img
                    img.card-author__img(src="images/user-dp-neil.png", alt="")
                    svg.icon-videocam.card-author__icon(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M12.75 6.9L16.6597 4.1625C16.716 4.12309 16.7819 4.09987 16.8504 4.09538C16.9189 4.09088 16.9874 4.10528 17.0483 4.137C17.1091 4.16872 17.1602 4.21654 17.1957 4.27526C17.2313 4.33398 17.2501 4.40134 17.25 4.47V13.53C17.2501 13.5987 17.2313 13.666 17.1957 13.7247C17.1602 13.7835 17.1091 13.8313 17.0483 13.863C16.9874 13.8947 16.9189 13.9091 16.8504 13.9046C16.7819 13.9001 16.716 13.8769 16.6597 13.8375L12.75 11.1V14.25C12.75 14.4489 12.671 14.6397 12.5303 14.7803C12.3897 14.921 12.1989 15 12 15H1.5C1.30109 15 1.11032 14.921 0.96967 14.7803C0.829018 14.6397 0.75 14.4489 0.75 14.25V3.75C0.75 3.55109 0.829018 3.36032 0.96967 3.21967C1.11032 3.07902 1.30109 3 1.5 3H12C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V6.9ZM5.5 6C4.67157 6 4 6.67157 4 7.5C4 8.32843 4.67157 9 5.5 9C6.32843 9 7 8.32843 7 7.5C7 6.67157 6.32843 6 5.5 6Z' fill='white')




    hr.card__hr
    .card-body 
        h5.card-body__title Start The New Year With A Crystal Clear Vision for Your Business an...
        p.card-body__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
    .card-footer
        button.btn.btn--outline.card-footer__btn 
            
            svg.icon-unlock.btn__icon--left(width='14' height='16' viewbox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.1071 8.00001H4.91071V4.97951C4.91071 3.81936 5.83058 2.85549 6.97969 2.84377C8.1404 2.83206 9.08929 3.7842 9.08929 4.95315V5.42189C9.08929 5.81154 9.39978 6.12502 9.78571 6.12502H10.7143C11.1002 6.12502 11.4107 5.81154 11.4107 5.42189V4.95315C11.4107 2.49221 9.42299 0.49124 6.98549 0.500029C4.54799 0.508818 2.58929 2.53616 2.58929 4.99709V8.00001H1.89286C1.12388 8.00001 0.5 8.6299 0.5 9.40626V14.0938C0.5 14.8701 1.12388 15.5 1.89286 15.5H12.1071C12.8761 15.5 13.5 14.8701 13.5 14.0938V9.40626C13.5 8.6299 12.8761 8.00001 12.1071 8.00001ZM8.16071 12.4531C8.16071 13.1006 7.64129 13.625 7 13.625C6.35871 13.625 5.83929 13.1006 5.83929 12.4531V11.0469C5.83929 10.3994 6.35871 9.87501 7 9.87501C7.64129 9.87501 8.16071 10.3994 8.16071 11.0469V12.4531Z' fill='#1254FF')

            span Unlock for $9.95
        

h2 card card-video 
.card.card-video 
    .card-header 
        img.card-header__img(src="images/intro-01.jpg", alt="")
        span.card-header__time 03:05
        .card-header__play
            svg.icon-play-white(width='14' height='16' viewbox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.3967 0.892187L12.7804 7.53302C12.8619 7.58078 12.9296 7.64905 12.9766 7.73106C13.0236 7.81306 13.0484 7.90595 13.0484 8.00048C13.0484 8.09501 13.0236 8.18789 12.9766 8.2699C12.9296 8.35191 12.8619 8.42018 12.7804 8.46794L1.3967 15.1088C1.31423 15.1569 1.22049 15.1824 1.125 15.1826C1.02951 15.1828 0.93565 15.1578 0.852943 15.1101C0.770236 15.0623 0.701617 14.9936 0.654042 14.9108C0.606467 14.828 0.581625 14.7341 0.582036 14.6386V1.36019C0.582008 1.26488 0.607128 1.17125 0.654859 1.08875C0.70259 1.00626 0.771243 0.937819 0.853886 0.890344C0.936528 0.842869 1.03023 0.818039 1.12554 0.818362C1.22085 0.818686 1.31438 0.844151 1.3967 0.892187Z' fill='white')
        h3.card-header__title How to join weekly live calls


h2 card card-member 
.card.card-member 
    .card-header 
        .card-header__img 
            img(src="images/member-01.jpg", alt="")
            span.card-header__job Copywriter
    .card-subheader
        .card-body-location 
            svg.card-subheader__icon.icon-location-pin(width='9' height='12' viewbox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M4.49998 12C3.68801 11.2819 2.93539 10.4947 2.24999 9.64649C1.22142 8.37275 5.68066e-07 6.47581 5.68066e-07 4.66818C-0.000911103 2.78027 1.09558 1.07785 2.77782 0.355333C4.46005 -0.36718 6.39644 0.0326284 7.68339 1.36819C8.52968 2.24175 9.00376 3.43003 8.99998 4.66818C8.99998 6.47581 7.77853 8.37275 6.74997 9.64649C6.06457 10.4947 5.31195 11.2819 4.49998 12ZM4.49998 2.66859C3.81097 2.66859 3.1743 3.04971 2.82979 3.66839C2.48529 4.28706 2.48529 5.0493 2.82979 5.66797C3.1743 6.28665 3.81097 6.66777 4.49998 6.66777C5.56509 6.66777 6.42854 5.77252 6.42854 4.66818C6.42854 3.56384 5.56509 2.66859 4.49998 2.66859Z' fill='#586795')

            span.card-body__location Colorado, USA 
        .card-body-hire 
            svg.card-subheader__icon(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg') 
                path(d='M5.99998 8.66663V10.6666H9.99998V8.66663H14.6666V13.3333C14.6666 13.5101 14.5964 13.6797 14.4714 13.8047C14.3464 13.9297 14.1768 14 14 14H1.99998C1.82317 14 1.6536 13.9297 1.52858 13.8047C1.40355 13.6797 1.33331 13.5101 1.33331 13.3333V8.66663H5.99998ZM7.33331 7.33329H8.66665V9.33329H7.33331V7.33329ZM4.66665 3.33329V1.33329C4.66665 1.15648 4.73688 0.986912 4.86191 0.861888C4.98693 0.736864 5.1565 0.666626 5.33331 0.666626H10.6666C10.8435 0.666626 11.013 0.736864 11.1381 0.861888C11.2631 0.986912 11.3333 1.15648 11.3333 1.33329V3.33329H14C14.1768 3.33329 14.3464 3.40353 14.4714 3.52855C14.5964 3.65358 14.6666 3.82315 14.6666 3.99996V7.33329H9.99998V5.99996H5.99998V7.33329H1.33331V3.99996C1.33331 3.82315 1.40355 3.65358 1.52858 3.52855C1.6536 3.40353 1.82317 3.33329 1.99998 3.33329H4.66665ZM5.99998 1.99996V3.33329H9.99998V1.99996H5.99998Z' fill='#586795')

            span.card-body__hire Available For Hire
        
    .card-body 
        
        .card-body-name
            h3.card-body__name Devon Lane
            span NEW
        p.card-body__text I’m specialized in Sales Copy and Content Writer
    .card-footer 
        button.btn.btn--outline.card-footer__btn 
            span View Profile 
            svg.icon-arrow-right.btn__icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')
        button.btn--just-icon 
            svg(width='44' height='44' viewbox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                rect(width='44' height='44' rx='22' fill='#E0E5F5')
                path(d='M19.7143 20.7143C20.2666 20.7143 20.7143 20.2666 20.7143 19.7143V14.2857C20.7143 13.5756 21.2899 13 22 13C22.7101 13 23.2857 13.5756 23.2857 14.2857V19.7143C23.2857 20.2666 23.7334 20.7143 24.2857 20.7143H29.7143C30.4244 20.7143 31 21.2899 31 22C31 22.7101 30.4244 23.2857 29.7143 23.2857H24.2857C23.7334 23.2857 23.2857 23.7334 23.2857 24.2857V29.7143C23.2857 30.4244 22.7101 31 22 31C21.2899 31 20.7143 30.4244 20.7143 29.7143V24.2857C20.7143 23.7334 20.2666 23.2857 19.7143 23.2857H14.2857C13.5756 23.2857 13 22.7101 13 22C13 21.2899 13.5756 20.7143 14.2857 20.7143H19.7143Z' fill='#586795')


h2 card card-member card-member--plain
.card.card-member.card-member--plain 
    .card-header 
        .card-header__img 
            img(src="images/member-02.jpg", alt="")
            span.card-header__job Software Development Manager
    .card-body 
        .card-body-name
            h5.card-body__name Arlene McCoy
            span NEW
        p.card-body__text I’m specialized in Sales Copy and Content Writer


h2 card--plain
.card.card--plain
    .card-subheader
        img.card-subheader__img(src="images/user-dp-amanda.png", alt="")
        .card-author
            span.card-author__name Amanda Nickson
            span.card-author__caption Client
        .card-rating.badge.badge--rating
            svg.badge__icon.icon-star-white(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.18252 0.443986C6.25084 0.279727 6.48353 0.279727 6.55185 0.443986L7.90729 3.70286C7.9361 3.77211 8.00122 3.81942 8.07598 3.82542L11.5942 4.10747C11.7715 4.12169 11.8434 4.34299 11.7083 4.45872L9.02781 6.75487C8.97086 6.80366 8.94598 6.88022 8.96338 6.95317L9.78233 10.3864C9.8236 10.5594 9.63535 10.6962 9.48353 10.6035L6.47144 8.76368C6.40744 8.72458 6.32694 8.72458 6.26294 8.76368L3.25084 10.6035C3.09902 10.6962 2.91077 10.5594 2.95205 10.3864L3.77099 6.95317C3.78839 6.88022 3.76352 6.80366 3.70656 6.75487L1.02604 4.45872C0.890932 4.34299 0.962838 4.12169 1.14017 4.10747L4.6584 3.82542C4.73316 3.81942 4.79828 3.77211 4.82708 3.70286L6.18252 0.443986Z' fill='white')
            span.badge__text 5.0
    .card-body 
        h5.card-body__title The best marketing strategist ever! I highly recommend!
        p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional 
            span - Alen is the besst choice! Thanks a lot! I’m really happy!

        p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional 
            span - Alen is the besst choice! Thanks a lot! I’m really happy!

        p.card-body__text Alen is the besst choice! Thanks a lot! I’m really happy!

h2 card card--outline
.card.card--outline 
    .card-body 
        h5.card-body__title The best marketing strategist ever! I highly recommend!
        p.card-body__text The best marketing strategist ever! I highly recommend! If you want to get the best service and a real professional 
    .card-footer 
        button.btn.btn--outline.card-btn 
            svg.btn__icon--left.card-btn__icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M7 13.6668C3.318 13.6668 0.333336 10.6822 0.333336 7.00016C0.333336 3.31816 3.318 0.333496 7 0.333496C10.682 0.333496 13.6667 3.31816 13.6667 7.00016C13.6667 10.6822 10.682 13.6668 7 13.6668ZM6.33334 6.3335H3.66667V7.66683H6.33334V10.3335H7.66667V7.66683H10.3333V6.3335H7.66667V3.66683H6.33334V6.3335Z' fill='#1254FF')
            span Request an Article

h2 card card--h1 
.card.card--h1
    .card-header
        img.card-header__img(src="images/training-video.jpg", alt="")
        span.card-header__overlay 1:45:17
    .card-body 
        h5.card-body__title Start The New Year With A Crystal Clear Vision for Your Business an...
        p.card-body__text Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
        a.link(href="")
            span Next Training Video 
            svg.icon-arrow-right.icon--right(width='20' height='15' viewbox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.7745 6.62606C14.6642 6.62606 15.1109 5.55122 14.4832 4.92059L12.1219 2.54833C11.7829 2.20779 11.7829 1.65733 12.1219 1.31679C12.4631 0.974025 13.0179 0.974025 13.3591 1.31679L18.8126 6.79559C19.201 7.18574 19.201 7.81639 18.8126 8.20653L13.3591 13.6853C13.0179 14.0281 12.4631 14.0281 12.1219 13.6853C11.7829 13.3448 11.7829 12.7943 12.1219 12.4538L14.4832 10.0815C15.1109 9.45091 14.6642 8.37606 13.7745 8.37606H1.66406C1.18081 8.37606 0.789062 7.98431 0.789062 7.50106C0.789062 7.01781 1.18081 6.62606 1.66406 6.62606H13.7745Z' fill='#1254FF')

        

h1 PAGE 


.page 
    .page-main 
        .page-user
            .page-user__img
                img(src="images/page-dp.png", alt="")
        .page-heading
            span.page__subheading All Program
            h1.page__heading Glad to see you, Alen!
    .page-side
        h5.page-side__text Switch to annual plan today and get 2 months of membership for FREE
        button.btn.btn--accent.page__btn
            svg.btn__icon--left(width='16' height='17' viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M10 1.83301C10.4682 1.83296 10.9281 1.95617 11.3336 2.19025C11.7391 2.42434 12.0758 2.76106 12.3098 3.16654C12.5439 3.57203 12.6671 4.03199 12.667 4.50018C12.6669 4.96837 12.5436 5.42828 12.3093 5.83368L15.3333 5.83301V7.16635H14V13.833C14 14.0098 13.9298 14.1794 13.8047 14.3044C13.6797 14.4294 13.5101 14.4997 13.3333 14.4997H2.66667C2.48986 14.4997 2.32029 14.4294 2.19527 14.3044C2.07024 14.1794 2.00001 14.0098 2.00001 13.833V7.16635H0.666672V5.83301L3.69067 5.83368C3.35991 5.26094 3.2538 4.58572 3.39293 3.93913C3.53206 3.29254 3.9065 2.72072 4.44356 2.33471C4.98062 1.9487 5.64196 1.77605 6.29917 1.85026C6.95638 1.92448 7.56256 2.24028 8 2.73635C8.24973 2.45193 8.55738 2.22419 8.90232 2.0684C9.24726 1.9126 9.62151 1.83234 10 1.83301V1.83301ZM8.66667 7.16635H7.33334V13.833H8.66667V7.16635ZM6 3.16635C5.65402 3.1648 5.32097 3.2978 5.07124 3.53726C4.8215 3.77673 4.67463 4.10389 4.66164 4.44964C4.64866 4.79539 4.77059 5.13264 5.00167 5.39016C5.23274 5.64767 5.55487 5.80528 5.90001 5.82968L6 5.83301H7.33334V4.49968C7.33335 4.18105 7.21926 3.87296 7.01173 3.63118C6.8042 3.38941 6.51695 3.22995 6.20201 3.18168L6.09934 3.16968L6 3.16635ZM10 3.16635C9.66362 3.16624 9.33963 3.29328 9.09297 3.52201C8.84632 3.75074 8.69523 4.06424 8.67 4.39968L8.66667 4.49968V5.83301H10C10.3364 5.83312 10.6604 5.70607 10.907 5.47735C11.1537 5.24862 11.3048 4.93512 11.33 4.59968L11.3333 4.49968C11.3333 4.14606 11.1929 3.80692 10.9428 3.55687C10.6928 3.30682 10.3536 3.16635 10 3.16635V3.16635Z' fill='#13245F')
            span.btn__name Get 2 months free
        button.btn.page__btn--close
            svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.0007 10.5867L16.9507 5.63672L18.3647 7.05072L13.4147 12.0007L18.3647 16.9507L16.9507 18.3647L12.0007 13.4147L7.05072 18.3647L5.63672 16.9507L10.5867 12.0007L5.63672 7.05072L7.05072 5.63672L12.0007 10.5867Z' fill='#354479')


h1 SECTION 

section.section
    .section-header
        h3.section__subtitle Learning Recomendations
        h2.section__title Today’s Course Highlight
        p.section__lead Learn key digital marketing disciplines. From PPC to SEO, Content to Video, Social and Analytics. Perfect for career switchers, business owners and all ...
    hr.section__hr

h1 VIDEO 
iframe.coach__video(src='https://www.youtube.com/embed/7lvXbfNBIQg' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
