/* HEADER */

#navMain li a {
  font-weight: 500 !important;
}

/* #navbar_top {
    position: relative;
} */

.noscroll {
  display: none !important;
}

.fixedHeight {
  min-height: 100vh;
  overflow: auto !important;
}

/* #navMain li {
    margin-right: 32px !important;
} */

/* #navMain li a img {
    margin-right: 0.75em !important;
} */

.navbar-toggler-icon {
  width: 50px;
  height: 50px;
  position: relative;
  transition: all 400ms;
}

.line-up,
.line-base,
.line-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #d8e2ff;
  width: 35px;
  height: 3px;
  border-radius: 20px;
  transition: all 400ms;
}

.line-up {
  top: 15px;
}

.line-down {
  top: 35px;
}

/* 
DROPDOWNS 
*/

.dropdown-user {
  position: relative;
  padding-right: 20px;
}

.dropdown-menu-container ul,
.dropdown-menu-container li,
.dropdown-menu-container a {
  margin: 0;
  padding: 0;
}

.dropdown-menu-container {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  z-index: 1;
  font-size: 14px;
  width: 100%;
  display: none;
}

.dropdown-menu-container.learning {
  width: 170px;
  top: 35px;
}

.dropdown-menu-container.swipes {
  width: 570px;
  top: 35px;
  padding: 20px 20px;
}

.dropdown-menu-container.swipes .mega-menu {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-menu-container.swipes .mega-menu > * + * {
  margin-left: 20px;
}

.mega-menu .category {
  margin-left: 0px !important;
  margin-top: 20px;
  border-top: solid 1px #00000020;
  padding-top: 25px;
  width: 100%;
}

.mega-menu .category ul {
  display: flex;
  flex-wrap: wrap;
}

.mega-menu .category ul > * + * {
  transform: translateY(-6px);
}

.dropdown-menu-container.learning span,
.dropdown-menu-container.swipes span,
.mega-menu p {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
}

.mega-menu p {
  font-size: 11px;
  text-transform: uppercase;
  color: #5f6ea1;
}

.dropdown-menu-container li {
  list-style: none;
  width: 100%;
  height: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.dropdown-menu-container li:hover {
  background: #e7eeff;
}

.dropdown-menu-container li:hover a {
  color: #1254ff;
}

.dropdown-menu-container ul > * + * {
  margin-top: 7px;
}

.dropdown-menu-container a {
  text-decoration: none;
  color: #404575;
  font-weight: 600;
  padding: 5px 10px 5px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown-menu-container a img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.dropdown-user img.dropdown-arrow {
  position: absolute;
  right: 0;
  top: 5px;
  /* background: url('../../images/dropdown-arrow-user-white.svg') no-repeat; */
  width: 10px;
  height: 10px;
}

/* FOOTER */

.footer_links a:hover:not(.group-title) {
  color: #d8e2ff90 !important;
  transition: 100ms ease;
}

/* 

FOOTER

*/

.bot_links {
  display: flex;
  justify-content: flex-end;
}

.bot_links.terms {
  margin-bottom: 10px !important;
}

@media screen and (max-width: 1200px) {
  #navControls li {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1187px) {
  #navMain li a img {
    display: none !important;
  }
  #navMain {
    width: 100% !important;
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 1086px) {
  #navControls li a img {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar.navbar-expand-lg.top_menu {
    padding: 8px 0;
  }
  .navbar-brand {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 576px) {
  .navbar-toggler-icon {
    transform: scale(0.8);
  }
  .footer_bot .row > div:nth-child(1) {
    text-align: center;
  }
  .footer_bot .bot_links.terms {
    margin-top: 20px !important;
  }
  .footer_bot .bot_links.terms {
    margin-bottom: 20px !important;
  }
  .footer_bot .bot_links {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bot_links.social li:nth-child(1),
  .bot_links.social li:nth-child(2),
  .bot_links.social li:nth-child(3),
  .bot_links.social li:nth-child(4),
  .bot_links.social li:nth-child(5),
  .bot_links.social li:nth-child(6) {
    transform: scale(1.5) !important;
  }
  .footer {
    padding-bottom: 50px !important;
  }
}
