.newsletter {
  margin-top: 96px;
  margin-bottom: 126px;

  .wrapper {
    position: relative;
    &::before {
      content: "11";
      position: absolute;
      top: -20px;
      right: 42px;

      font-family: var(--font-space);
      font-size: 150px;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(18, 85, 255, 0.5);
      opacity: 30%;
    }
  }

  .section {
    &-header {
      width: 700px;
      margin-bottom: 78px;
    }
  }

  &-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 700px;
  }
}

.newsletter-feature {
  display: flex;
  padding-left: 80px;

  &-thumb {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &-main {
      position: relative;

      &__img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        filter: drop-shadow(15px 13px 49px rgba(14, 13, 84, 0.34));
      }

      &-editor {
        position: absolute;
        top: 0;
        right: -80%;
        z-index: 1;

        &__name {
          color: var(--cl-ryb-dark);
          font-size: 16px;
          font-weight: 600;
        }

        &__caption {
          color: var(--cl-shadow-blue);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.04em;
        }

        span {
          display: block;
        }
      }

      img {
        border-radius: 10px;
      }
    }

    &-sub {
      margin-right: 32px;
      margin-bottom: 42px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__img {
        height: 70px;
        width: 70px;
        margin-top: 28px;
        border-radius: 10px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

        &--active {
          border: 3px solid #ffc700;
        }
      }
    }
  }
  &-img {
    padding-right: 42px;
    padding-bottom: 28px;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin-top: auto;
    position: relative;
    background: url(../images/bg-dots-03.svg);
    background-repeat: no-repeat;
    background-position: right bottom;

    &__offset {
      border-radius: 10px;
      height: 96px;
      width: 96px;
      position: absolute;
      top: 92px;
      left: -24px;
      z-index: 2;
      filter: drop-shadow(15px 13px 49px rgba(14, 13, 84, 0.34));
    }

    &__img {
      width: 438px;
      height: 566px;
      margin-bottom: 22px;
      border-radius: 2px;
      filter: drop-shadow(9px 9px 45px rgba(24, 35, 71, 0.27));
    }

    span {
      display: block;
      text-align: right;
      color: var(--cl-shadow-blue);
      font-size: 14px;
      font-weight: 600;
      padding: 14px;
      padding-right: 0;
    }
  }
}

.newsletter-body {
  padding-bottom: 56px;

  &__title {
    color: black;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 18px;
    margin-left: 16px;

    &--highlight {
      color: var(--cl-ryb);
    }
  }

  &__btn {
    margin: 0 auto;
    min-width: 280px;
  }
}

.newsletter-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  padding: 12px 14px 0;
  margin-bottom: 20px;

  &-icon {
    position: relative;
  }

  &__icon {
    margin-right: 14px;
    margin-top: 10px;
  }

  &__arrow {
    position: absolute;
    top: -70%;
    left: -426%;
    height: 174.5px;
    width: 150px;
  }

  &__title {
    color: var(--cl-ryb-dark);
    font-size: 18px;
    font-weight: 600;
  }

  &__text {
    color: var(--cl-dark-blue-gray);
    font-size: 12px;
  }

  &--active {
    background-color: #fff;
    box-shadow: 0px 8.56494px 8.56494px rgba(0, 0, 0, 0.04);
  }
}
