:root {
  --font-space: "Space Grotesk", sans-serif !important;
  --cl-white: #ffffff;
  --cl-light: #f9f9f9;
  --cl-yellow: #ffc700;
  --cl-ryb: #1254ff;
  --cl-ryb-dark: #13245f;
  --cl-shadow-blue: #7c8dbf;
  --cl-oxford-blue: #0e183c;
  --cl-dark-blue-gray: #586795;
  --cl-lavender: #e0e5f5;
}
