extends layout.pug

block content
  include pug/sections/hero.pug
  include pug/sections/01-learning.pug
  include pug/sections/02-article-spotlight.pug
  hr.page__hr
  include pug/sections/03-training-video.pug
  include pug/sections/04-training-calls.pug
  include pug/sections/05-live-calendar.pug
  hr.page__hr
  include pug/sections/06-previous-webinars.pug
  include pug/sections/07-new-members.pug
  hr.page__hr
  include pug/sections/08-my-advisor.pug
  hr.page__hr
  include pug/sections/09-member-stories.pug
  include pug/sections/10-recommended-books.pug
  include pug/sections/11-newsletter.pug
  include pug/sections/12-resources.pug
  include pug/sections/13-community-hire.pug
  include pug/sections/14-community-venture.pug
  include pug/sections/15-faq.pug
  include pug/components/components.pug
  