doctype html
html(lang="en")
    head
        include pug/partials/head.pug
    body.wrapper-marketing-vault   
        //- include partials/header.pug
        main.creator-container.main
            block content
        //- include partials/footer.pug